.custom-input input,
.custom-select {
    margin: 0 5px;
    padding: 10px;
    color: $text-color;
    background: transparent;
    border: 1px solid $text-color;
    font-size: 1.6rem;

    &::placeholder {
        color: $text-color;
        opacity: 1;
    }

    &:focus,
    &:active {
        outline: none;
    }
}

button {
    font-family: 'Lato', sans-serif;
    background-color: $text-color;
    font-size: 1.6rem;
    text-transform: uppercase;
    transition: all 0.5s;
    letter-spacing: 2px;
    padding: 15px 25px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;
    border: none;

    &:hover {
        background-color: rgba($text-color, 0.8);
    }
}
